@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import './scheme.scss';
@import './notifications.scss';

*{
    font-family: 'Barlow', sans-serif;
    color: var(--font-1);
}
body{
    background-color: var(--dark-1);
}
a.disabled{
    opacity: .5;
    pointer-events: none;
}
a.button{
    border-radius: var(--radius);
    background-color: var(--accent-darker);
    transition: all .23s ease;
    padding: 0.5rem 1.5rem;
    color: var(--font-1);
    border: 1px solid var(--accent-darker);
    &:hover{
        color: var(--dark-1);
        text-decoration: none;
        background-color: var(--accent);
        box-shadow: 0px 0px 6px var(--accent-darker);
    }
}