:root{
    --dark-1: rgb(17, 19, 24);
    --dark-2: rgb(33, 36, 43);
    --font-1: rgb(188, 193, 209);
    --accent: rgb(112, 148, 255);
    --accent-darker: rgba(65, 105, 225, 0.5);
    --error: rgb(194, 51, 75);
    --error-darker: rgba(225, 65, 92, 0.5);
    --radius: 4px;
}